<div id="div" class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" [routerLink]="['home']">4 patitas
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['producto']" role="button">
                        Productos
                    </a>

                </li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['producto']">Servicios
                    </a>
                </li>
            </ul>
        </div>

        <div class="dropdown">
            <a class="btn btn-primary" [routerLink]="['login']" role="button" id="dropdownMenuLink" aria-haspopup="true"
                aria-expanded="false">Iniciar Sesión</a>
        </div>
    </nav>
</div>